<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Customers</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Customer List</h1>
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Clients</li>
</ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lists</h3>
            <div class="box-tools pull-right">
                <a href="/customers/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
                <br clear="all" />
            </div>
        </div>
        <div class="box-body no-padding">
            <table class="table table-striped myTab">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer ID</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Registration Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${list}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.customerId}"></td>
                    <td th:text="${row.firstname}"></td>
                    <td th:text="${row.mobile}"></td>
                    <td th:text="${row.age}"></td>
                    <td th:text="${row.gender}"></td>
                    <td th:text="${#dates.format(row.dateOfBirth, 'dd/MM/yyyy')}"></td>
                    <td th:text="${row.address}"></td>
                    <td th:text="${#dates.format(row.dateCreated, 'dd/MM/yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<script>
$(document).ready( function () {
    $('.myTab').DataTable();
} );
</script>
</body>
</html>